# These are the libraries required develop or test your app
# NOTICE THE FIRST LINE INCLUDES THE requirements.txt
#
-r requirements.txt
pytest
coverage
sphinx
pylint
rinohtype
myst-parser
docxsphinx
sphinx_rtd_theme
sphinxcontrib-mermaid
{% if cookiecutter.use_requests == 'y' %}requests-mock{% endif %}
