# These are the libraries required develop or test your app
# NOTICE THE FIRST LINE INCLUDES THE requirements.txt
#
-r requirements.txt
build
tomli
pytest-cov
sphinx
pylint
rinohtype
myst-parser
sphinx_rtd_theme
sphinxcontrib-mermaid
twine
{% if cookiecutter.use_requests == 'y' %}requests-mock{% endif %}
