# These are the libraries required develop or test your app
# NOTICE THE FIRST LINE INCLUDES THE requirements.txt
#
-r requirements.txt
build
pip-audit
black
tomli
pytest-cov
sphinx
pylint
myst-parser
sphinx_rtd_theme
sphinxcontrib-mermaid
httpx
twine
{% if cookiecutter.use_requests == 'y' %}requests-mock{% endif %}
